include ../../_paths.pug

    .banner 
        .banner__slides 
            include ../../partials/mixins/_swiper.pug

            block content 
            -
                const data = [ 
                    { 
                        img: `${paths.img.img}/homepage/slides/bg-image.jpg`, 
                        title: `CREATE<span>X</span><p>CONSTRUCTION<p/>`,
                        desc: 'Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.',
                        lsBtnContent: 'Learn more about us',
                        rsBtnContent: 'SUBMIT REQUEST'
                    },
                    { 
                        img: `${paths.img.img}/about/about-bg.png`, 
                        title: 'Второй слайд',
                        desc: 'Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.',
                        lsBtnContent: 'Learn more about us',
                        rsBtnContent: 'SUBMIT REQUEST'
                    },
                    { 
                        img: `${paths.img.img}/about/map.svg`, 
                        title: 'Третий слайд',
                        desc: 'Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.',
                        lsBtnContent: 'Learn more about us',
                        rsBtnContent: 'SUBMIT REQUEST'
                    },{ 
                        img: `${paths.img.img}/how-to-build/banner.jpg`, 
                        title: 'Четвертый слайд',
                        desc: 'Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.',
                        lsBtnContent: 'Learn more about us',
                        rsBtnContent: 'SUBMIT REQUEST'
                    },
                ]
            +swiper(data)
            .swiper-controls 
                button(class="round-btn round-btn--left btn-prev")
                    img(src=`${paths.img.icons}/slider-arrow.svg`, alt="arrow")
                button(class="round-btn round-btn--right btn-next")
                    img(src=`${paths.img.icons}/slider-arrow.svg`, alt="arrow")
            .container
                .swiper-pagination.custom-pagination
