.container 
    .feedback 
        form.form.feedback__form(action="#") 
            h2.feedback__title.form__title Want to know more? Ask us a question:
            .form__input-wrap 
                .form__input-item 
                    .form__field
                        label(for="name" class="form__label") Name
                        input.form__input(type="text", name="name", id="name", placeholder="Your name")
                    img.form__input-img.form__input--success-img(src=`${paths.img.icons}/done-mark.svg` alt="success")
                    img.form__input-img.form__input--danger-img(src=`${paths.img.icons}/danger-icon.svg` alt="danger")
                    span.form__message.form__message--success Looks good!
                    span.form__message.form__message--danger Please provide a valid input.
                .form__input-item
                    .form__field 
                        label(for="phone" class="form__label") Phone
                        input.form__input(type="tel", name="phone", id="phone", placeholder="Your phone")
                    img.form__input-img.form__input--success-img(src=`${paths.img.icons}/done-mark.svg` alt="success")
                    img.form__input-img.form__input--danger-img(src=`${paths.img.icons}/danger-icon.svg` alt="danger")
                    span.form__message.form__message--success Looks good!
                    span.form__message.form__message--danger Please provide a valid input.
                .form__input-item 
                    .form__field
                        label(for="message" class="form__label") Message
                        textarea.form__input.form__input--textarea(name="message", id="message", placeholder="Your message")
                    img.form__input-img.form__input--success-img(src=`${paths.img.icons}/done-mark.svg` alt="success")
                    img.form__input-img.form__input--danger-img(src=`${paths.img.icons}/danger-icon.svg` alt="danger")
                    span.form__message.form__message--success Looks good!
                    span.form__message.form__message--danger Please provide a valid input.
                button(type="submit" class="form__button button") send 
