include ../../_paths.pug

-
  const history = [
    {
      date: 'Present',
      img: `${paths.img.img}/modern-cottage/slide-1.jpg`,
      text: 'Bcelerisque dapibus pharetra nibh semper iaculis...'
    },
    {
      date: 'March 2019',
      img: `${paths.img.img}/modern-cottage/slide-2.jpg`,
      text: 'Integer et morbi. Maecenas sed quis...'
    },
    {
      date: 'November 2018',
      img: `${paths.img.img}/modern-cottage/slide-3.jpg`,
      text: 'Bcelerisque dapibus. Eu nec vitae...'
    },
    {
      date: 'July 2015',
      img: `${paths.img.img}/modern-cottage/slide-4.jpg`,
      text: 'Aperiam nihil, facilis, tempore magnam delectus labore deserunt deleniti aspernatur praesentium corrupti repudiandae, optio illum asperiores sint consequuntur ab nesciunt eum. Harum.'
    },
    {
      date: 'August 2010',
      img: `${paths.img.img}/modern-cottage/slide-1.jpg`,
      text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam nihil, facilis, tempore magnam delectus labore deserunt deleniti aspernatur praesentium corrupti repudiandae, optio illum asperiores sint consequuntur ab nesciunt eum. Harum.'
    },
    {
      date: 'February 2007',
      img: `${paths.img.img}/modern-cottage/slide-2.jpg`,
      text: 'Aperiam nihil, facilis, tempore magnam delectus labore deserunt deleniti aspernatur praesentium'
    },
    {
      date: 'May 2004',
      img: `${paths.img.img}/modern-cottage/slide-3.jpg`,
      text: 'aspernatur praesentium corrupti repudiandae, optio illum asperiores sint consequuntur ab nesciunt eum.'
    },
    {
      date: 'October 2001',
      img: `${paths.img.img}/modern-cottage/slide-4.jpg`,
      text: 'Bcelerisque dapibus. Eu nec vitae...'
    },
    {
      date: 'June 2000',
      img: `${paths.img.img}/modern-cottage/slide-1.jpg`,
      text: 'Rerum magnam nemo deleniti accusantium sunt repudiandae doloribus, dolore quisquam perferendis, non iusto molestiae?'
    },
  ]
