include ../../_paths.pug

-
    var projectCards = [
        
            {
                imgUrl: `${paths.img.img}/homepage/services/portfolio-card/image-1.jpg`,
                altText: 'Red Finger Building',
                title: 'Red Finger Building',
                category: 'Business Centers',
            },
       
           {
                imgUrl: `${paths.img.img}/homepage/services/portfolio-card/image-2.png`,
                altText: 'Cubes Building',
                title: 'Cubes Building',
                category: 'Business Centers',
            },

            {
                imgUrl: `${paths.img.img}/homepage/services/portfolio-card/image-3.png`,
                altText: 'The Pencil Building',
                title: 'The Pencil Building',
                category: 'Stores & Malls',
            },

            {
                imgUrl: `${paths.img.img}/homepage/services/portfolio-card/image-4.jpg`,
                altText: 'Kids Bedroom With Decorations',
                title: 'Kids Bedroom With Decorations',
                category: 'Apartments & flats',
            },
       
           {
                imgUrl: `${paths.img.img}/homepage/services/portfolio-card/image-5.jpg`,
                altText: 'Modern Double Bedroom',
                title: 'Modern Double Bedroom',
                category: 'Apartments & flats',
            },

            {
                imgUrl: `${paths.img.img}/homepage/services/portfolio-card/image-6.jpg`,
                altText: 'Scandinavian Style Interior',
                title: 'Scandinavian Style Interior',
                category: 'Private houses',
            },

            {
                imgUrl: `${paths.img.img}/homepage/services/portfolio-card/image-7.png`,
                altText: 'Modern Cottage',
                title: 'Modern Cottage',
                category: 'Private houses',
            },

            {
                imgUrl: `${paths.img.img}/homepage/services/portfolio-card/image-8.png`,
                altText: 'Luxury Beach House',
                title: 'Luxury Beach House',
                category: 'Private houses',
            },

            {
                imgUrl: `${paths.img.img}/homepage/services/portfolio-card/image-9.png`,
                altText: 'Brown and Gray Painted House',
                title: 'Brown and Gray Painted House',
                category: 'Private houses',
            },
    ]
    
     
    

        