include ../../_paths.pug

-
    var team = [
        {
            name: 'Courtney Alexander',
            role: 'CEO, Co-Founder',
            img: `${paths.img.img}/about/team/image-1.jpg`
        },
        {
            name: 'Calvin Fox',
            role: 'CTO, Co-Founder',
            img: `${paths.img.img}/about/team/image-2.png`
        },
        {
            name: 'Johnny Lane',
            role: 'Commercial Manager',
            img: `${paths.img.img}/about/team/image-3.png`
        },
        {
            name: 'Diane Mccoy',
            role: 'Director of Human Resources',
            img: `${paths.img.img}/about/team/image-4.png`
        },
        {
            name: 'Judith Warren',
            role: 'Lead Accountant',
            img: `${paths.img.img}/about/team/image-5.png`
        },
        {
            name: 'Floyd Simmons',
            role: 'Finacial Director',
            img: `${paths.img.img}/about/team/image-6.png`
        },
        {
            name: 'Serenity Edwards',
            role: 'Director of Marketing',
            img: `${paths.img.img}/about/team/image-7.png`
        },
        {
            name: 'Shawn Edwards',
            role: 'Tech Lead',
            img: `${paths.img.img}/about/team/image-8.png`
        }
    ]
