include ../../_paths.pug

-
    var heroData = {
        services: 
            {
                imgUrl: `${paths.img.img}/services/background.png`,
                breadcrumbs: "Homepage /",
                activeBreadcrumb: " Services",
                title: 'SERVICES',
                desc: "If you are looking for a full-service construction company, look to Createx Construction Bureau. We are doing our best to be a partner for all of your construction needs."
            },
        interiorDesign: 
            {
                imgUrl: `${paths.img.img}/interior-design/head-bg.png`,
                breadcrumbs: "Homepage / Services",
                activeBreadcrumb: " Interior Design",
                title: 'INTERIOR DESIGN',
                desc: "Dui augue nec mi mi. Ut ac lectus donec fames pellentesque. Laoreet aenean vulputate elementum blandit amet."
            },
        work: 
            {
                imgUrl: `${paths.img.img}/works/bg-image.png`,
                breadcrumbs: "Homepage/",
                activeBreadcrumb: "Work",
                title: 'OUR WORK',
                desc: "Our portfolio represents 20 years of construction experience backed by a passion for perfect client service, quality and innovations in consctuction industry."
            },
        about: 
            {
                imgUrl: `${paths.img.img}/about/about-bg.png`,
                breadcrumbs: "Homepage /",
                activeBreadcrumb: "About Us",
                title: 'ABOUT US',
                desc: "Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service."
            },
        availablePositions: 
            {
                imgUrl: `${paths.img.img}/available-positions/head-bg.png`,
                breadcrumbs: "Homepage / About Us",
                activeBreadcrumb: "Available Positions",
                title: 'Available Positions',
                desc: "Build your career with Createx Construction Bureau."
            },
        news: 
            {
                imgUrl: `${paths.img.img}/services/background.png`,
                breadcrumbs: "Homepage /",
                activeBreadcrumb: "News",
                title: 'News',
                desc: "Stay tuned with our news, expert tips and articles."
            },
        hoToBuild: 
            {
                imgUrl: `${paths.img.img}/services/background.png`,
                breadcrumbs: "Homepage / News",
                activeBreadcrumb: "How to Build Climate Change-Resilient Infrastructure",
                title: 'How to Build Climate Change-Resilient Infrastructure',
                desc: "Stay tuned with our news, expert tips and articles."
            },
        contacts: 
            {
                imgUrl: `${paths.img.img}/contacts/head-bg.png`,
                breadcrumbs: "Homepage /",
                activeBreadcrumb: "Contacts",
                title: 'CONTACTS',
                desc: "Contact us for all your construction needs. We always welcome any questions and comments."
            },
    }
     
    

        
        