include ../../../../_paths.pug
include ../../../../partials/data/_careers_data.pug
include ../../../../partials/mixins/_career_card.pug

section.careers
  .container
    .careers__wrap
        .careers__list
            each career in careers
                +careerCard(career)
        aside.careers__aside
            h3.careers__aside-title Didn’t find what you were looking for?
            p.careers__aside-text
                | Send your CV or subscribe to our newsletter to receive information about new vacancies.
            .careers__buttons
                button.button--outline.modal-button-sub subscribe
                button.button.modal-button-cv send cv

    .modal  
        .modal__overlay.hidden-item.hidden-item-sub
        form.modal__form.modal__sub(action="").hidden-item.hidden-item-sub
            button.modal__close 
                img(src=`${paths.img.img}/available-positions/icons/cross-icon.svg`, alt="close")
            h3.form__title Subscribe to our newsletter
            .form__input-wrap
                .form__input-item 
                    label(for="name" class="form__label") Name*
                    input.form__input(type="text", name="name", id="name", placeholder="Your name")
                    img.form__input-img.form__input--success-img(src=`${paths.img.icons}/done-mark.svg` alt="success")
                    img.form__input-img.form__input--danger-img(src=`${paths.img.icons}/danger-icon.svg` alt="danger")
                    span.form__message.form__message--success Looks good!
                    span.form__message.form__message--danger Please provide a valid input.
                .form__input-item 
                    label(for="mail" class="form__label") Email
                    input.form__input(type="email", name="mail", id="mail", placeholder="Your working email")
                    img.form__input-img.form__input--success-img(src=`${paths.img.icons}/done-mark.svg` alt="success")
                    img.form__input-img.form__input--danger-img(src=`${paths.img.icons}/danger-icon.svg` alt="danger")
                    span.form__message.form__message--success Looks good!
                    span.form__message.form__message--danger Please provide a valid input.
                button(type="submit" class="form__button button modal-button-sub") send 
        form.modal__form.modal__CV.hidden-item.hidden-item-cv
            button.modal__close
                img(src=`${paths.img.img}/available-positions/icons/cross-icon.svg`, alt="close")   
            h3.form__title Send your CV
            .form__input-wrap 
                .form__input-item 
                    label(for="name" class="form__label") Name*
                    input.form__input(type="text", name="name", id="name", placeholder="Your name")
                    img.form__input-img.form__input--success-img(src=`${paths.img.icons}/done-mark.svg` alt="success")
                    img.form__input-img.form__input--danger-img(src=`${paths.img.icons}/danger-icon.svg` alt="danger")
                    span.form__message.form__message--success Looks good!
                    span.form__message.form__message--danger Please provide a valid input.
                .form__input-item 
                    label(for="locations" class="form__label") Name*
                    select.form__input(name="locations", id="locations")
                        option(value="", selected) Choose your location 
                        option(value="Los Angeles") Los Angeles 
                        option(value="New York") New York
                        option(value="Nebrasca") Nebrasca
                        option(value="California") California 
                        option(value="Luisiana") Luisiana 
                    img.form__input-img.form__input--success-img(src=`${paths.img.icons}/done-mark.svg` alt="success")
                    img.form__input-img.form__input--danger-img(src=`${paths.img.icons}/danger-icon.svg` alt="danger")
                    span.form__message.form__message--success Looks good!
                    span.form__message.form__message--danger Please provide a valid input.
                .form__input-item 
                    label(for="phone" class="form__label") Phone*
                    input.form__input(type="tel", name="phone", id="phone", placeholder="Your phone number")
                    img.form__input-img.form__input--success-img(src=`${paths.img.icons}/done-mark.svg` alt="success")
                    img.form__input-img.form__input--danger-img(src=`${paths.img.icons}/danger-icon.svg` alt="danger")
                    span.form__message.form__message--success Looks good!
                    span.form__message.form__message--danger Please provide a valid input.
                .form__input-item 
                    label(for="mail" class="form__label") Email
                    input.form__input(type="email", name="mail", id="mail", placeholder="Your working email")
                    img.form__input-img.form__input--success-img(src=`${paths.img.icons}/done-mark.svg` alt="success")
                    img.form__input-img.form__input--danger-img(src=`${paths.img.icons}/danger-icon.svg` alt="danger")
                    span.form__message.form__message--success Looks good!
                    span.form__message.form__message--danger Please provide a valid input.
                .form__input-item 
                    label(for="message" class="form__label") Сovering letter
                    textarea.form__input.form__input--textarea(name="message", id="message", placeholder="Your covering letter")
                    img.form__input-img.form__input--success-img(src=`${paths.img.icons}/done-mark.svg` alt="success")
                    img.form__input-img.form__input--danger-img(src=`${paths.img.icons}/danger-icon.svg` alt="danger")
                    span.form__message.form__message--success Looks good!
                    span.form__message.form__message--danger Please provide a valid input.
                .form__input-item 
                    <input type="file" id="myfile" name="myfile" class="field field__file">
                    <label for="myfile" class="field__file-wrapper" >
                        <span class="field__file-button">
                            img(src=`${paths.img.img}/available-positions/icons/attach.svg`, alt="attach-icon")
                        </span>
                        <span class="field__file-fake">Attach your CV*</span>
                    </label>
                button(type="submit" class="form__button button") send 
                


