include ../../../../_paths.pug

.decisions  
    .container 
        .decisions__wrap
            .decisions__leftside 
                img(src=`${paths.img.img}/modern-cottage/image.jpg`, alt="image")
            .decisions__rightside 
                h3.decisions__title Constructive decisions
                .decisions__desc-wrap 
                    ul.decisions__desc-list 
                        li.decisions__desc-item
                            img(src=`${paths.img.img}/modern-cottage/check.svg `, alt="check-icon")
                            span  Vitae ultrices ornare eu sed in est quisque duis id.
                        li.decisions__desc-item
                            img(src=`${paths.img.img}/modern-cottage/check.svg `, alt="check-icon")
                            span A fermentum in morbi pretium aliquam adipiscing donec tempus.
                        li.decisions__desc-item
                            img(src=`${paths.img.img}/modern-cottage/check.svg `, alt="check-icon")
                            span Mauris odio pellentesque commodo, diam.
                        li.decisions__desc-item
                            img(src=`${paths.img.img}/modern-cottage/check.svg `, alt="check-icon")
                            span Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.
                        li.decisions__desc-item
                            img(src=`${paths.img.img}/modern-cottage/check.svg `, alt="check-icon")
                            span At pharetra libero blandit risus, fringilla sed commodo diam.
                        li.decisions__desc-item
                            img(src=`${paths.img.img}/modern-cottage/check.svg `, alt="check-icon")
                            span Integer ultricies viverra ut enim viverra ut.
