include ../../../../_paths.pug

.section-gallery
    .gallery
        .swiper.gallery-main
            .swiper-wrapper
                each i in [1,2,3,4]
                    .swiper-slide
                        img(
                            src=`${paths.img.img}/modern-cottage/slide-${i}.jpg`,
                            alt=`slide ${i}`
                        )
            .swiper-controls
                button.round-btn.round-btn--left.btn-prev
                    img(src=`${paths.img.icons}/slider-arrow.svg`, alt="arrow")
                button.round-btn.round-btn--right.btn-next
                    img(src=`${paths.img.icons}/slider-arrow.svg`, alt="arrow")

        .swiper.gallery-thumbs
            .swiper-wrapper
                each i in [1,2,3,4]
                    .swiper-slide
                        img(
                            src=`${paths.img.img}/modern-cottage/slide-${i}.jpg`,
                            alt=`thumb ${i}`
                        )
        .swiper-text-content    
            .swiper-wrapper 
                .swiper-slide 
                    .swiper-slide__text
                        .swiper-slide__title Project goal
                        p.swiper-slide__desc Build a private house 840 sq. feet with a large living room, three bedrooms, two bathrooms, a terrace, a pool and a garage for two cars.
                        p.swiper-slide__desc Modern design and care for each family member to feel as comfortable as possible in the new home.
                    .swiper-slide__info 
                        ul.swiper-slide__list
                            div
                                li LOCATION 
                                span 2464 Royal Ln. Mesa, New Jersey
                            div
                                li CLIENT
                                span Darlene Robertson
                            div
                                li ARCHITECT
                                span HIK Architecture
                            div
                                li SIZE
                                span 840 sq. feet
                            div
                                li VALUE
                                span $2 million
                            div
                                li COMPLETED
                                span May 2020
