include ../../../_paths.pug
include ../../../partials/data/_history_data.pug

section.history
  .container
    h2.history__title Our history

    .history__inner
      // Левая колонка: Таймлайн
      .history__timeline
        .swiper.history-timeline
          .swiper-wrapper
            each item in history
              .swiper-slide
                span.history__date= item.date

      .history__content

        .swiper.history-content
          .swiper-wrapper
            each item in history
              .swiper-slide
                .history__slide
                  img.history__image(src=item.img alt="slide")
                  p.history__text= item.text
      .history__nav
          button.round-btn.round-btn--left.btn-prev
            img(src=`${paths.img.icons}/slider-arrow.svg`, alt="arrow")
          button.round-btn.round-btn--right.btn-next
            img(src=`${paths.img.icons}/slider-arrow.svg`, alt="arrow")

