mixin hero(content)
    .hero
        if content.imgUrl
            img(src=content.imgUrl, alt="hero-img", class=`hero__bg ${ content.class}`)
        .container 
            .hero__content(class= `${content.className} ${content.pb204}`)
                .hero__breadcrumbs-wrap
                    span.hero__breadcrumbs= content.breadcrumbs 
                    span.hero__breadcrumbs.hero__breadcrumbs--active= content.activeBreadcrumb
                h1(class= `hero__title ${content.width100} ${content.ttcc} ${content.fz64}`)= content.title
                .hero__desc= content.desc
                block 

        
